{% extends 'base.html' %}

{% block title %} Create {% endblock title %}

{% block content %}
<main>
    <div>
        <h1> Create a new list </h1>
        <form method="post">
            {% csrf_token%}
            {{ form.as_p }}
            <button>Create</button>
            </form.method>
    </div>
</main>
{% endblock content %}
