{% extends 'base.html' %}

{% block title %}{{todo.name}}{% endblock title %}

{% block content %}
<main>
    <div>
        <h1>{{todo_detail.name}}</h1>
        <div>
            <p>
                <a href="{% url 'todo_list_update' todo_detail.id %}"> Edit </a>

            </p>
        </div>
        <h2>Tasks</h2>
        <table>
            <tr>
                <th>Task</th>
                <th>Due Date</th>
            </tr>
            {% for tasks in todo_detail.items.all %}
            <tr>
                <td>{{tasks.task}}</td>
                <td>{{tasks.due_date}}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
</main>
{% endblock content %}
