{% extends 'base.html' %}
{% block title %} Edit {{todo.name.id}}{% endblock title%}
{% block content %}
<main>
    <div>
        <h1> Update List </h1>
        <form method="post">
            {% csrf_token %}
            {{ post_form.as_p }}
            <button>Update</button>
        </form>
    </div>
</main>
{% endblock content%}
