{% extends 'base.html' %}

{% block title %} Todos {% endblock title %}

{% block content %}
<main>
    <div>
        <h1> My Lists </h1>
        <p>
            <a href="{% url 'todo_list_create' %}">Create a new list</a>
        </p>
        <table>
            <tr>
                <th>Name</th>
                <th>Number of items</th>
            </tr>
            {% for items in todo %}
            <tr>
                <td>
                    <a href="{% url 'todo_list_detail' items.id %}"> {{items.name}}</a>
                </td>
                <td>{{items.items.all|length}}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
</main>

{% endblock content %}
